[flake8]
ignore =
    E203, # Incompatible with black see https://github.com/ambv/black/issues/315
    W503, E231 # Incompatible with black

max-line-length=92

exclude =
    venv/,
    .git,
    __pycache__,
    **/.eggs/,
    **/.tox/,

max-complexity = 10
