.idea/
__pycache__/
*.pyc
.DS_Store
.coverage
htmlcov/
venv/
*.egg-info/
build/
dist/

# Configuration file added automatically by 'centralized-pre-commit-conf'
.flake8
.isort.cfg
.pre-commit-config.yaml
.pylintrc
